{% extends "base.html" %}
{% block post%}
<div class="row">
    <div class="col-lg-8 col-md-8">
        <div class="form-div">
            <form method="POST" class="row g-3 needs-validation" novalidate>
                {{ form.hidden_tag()}}
                <fieldset>
                    <div class="form-group">
                        {{ form.title.label(class="form-label")}}
                        {% if form.title.errors %}
                        {{ form.title(class="form-control is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in form.title.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.title(class="form-control")}}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.content.label(class="form-label")}}
                        {% if form.content.errors %}
                        {{ form.content(class="form-control is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in form.content.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.content(class="form-control")}}
                        {% endif %}
                    </div>
                </fieldset>
                <div class="form-group">
                    {{ form.submit(class="btn btn-outline-info")}}
                </div>
            </form>
        </div>
        <br>
        {% for post in posts.items %}
        <div class="card mb-3">
            <div class="card-body">
                <div class="postMain">
                    <a class="card-title" href="#">{{post.author.username}}</a>
                    <small class="card-subtitle mb-2 text-muted"> | {{ post.date_posted.strftime('%b %d')}}</small>
                    {% if post.author.id == current_user.id %}
                    <a href="{{ url_for('edit_post', id=post.id)}}"
                       class="btn btn-outline-info btn-sm btn-edit">Edit</a> 
                    {% endif%}
                </div>
                <div>
                    <h4><a href="{{ url_for('post_detail', id=post.id)}}" >{{ post.title }}</a></h4>
                    <p class="card-text">{{ post.content }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
        {% for page in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2)%}
        {% if page %}
        {% if posts.page == page %}
        <a href="{{ url_for('post', page=page)}}" class="btn btn-info">{{ page }}</a>
        {% else %}
        <a href="{{ url_for('post', page=page)}}" class="btn btn-outline-info">{{ page }}</a>
        {% endif %}
        {% else %}
        <a class="btn btn-outline-info">...</a>
        {% endif %}

        {%endfor%}
    </div>
    <div class="col-lg-4 col-md-4">
        <div class="sidebar">
            <h3>Side Bar</h3>
            <p class="text-muted">You Can place any information here </p>
            <div class="card" style="">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}

