.sidebar {
    border: 1px solid #cccccc;
    padding: 13px;
    border-radius: 3px;
}

body {
    background-color: #eee;
}

.postMain {
    border-bottom: 1px solid #cccccc;
}

.form-div {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

.form-control{
    background-color: #eee;
    border-color: #6c757d;
}

.postMain a {
    text-decoration: none;
}